body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    }
    
    header h1 {
        text-align: center;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    nav ul li {
        margin: 0 15px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 10px 3px;
        display: block;
        position: relative;
    }
    
    nav ul li a::after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background: #fff;
        transition: width 0.3s ease;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    nav ul li a:hover::after {
        width: 100%;
    }

#welcome {
    background-color: #52a589;
    color: white;
    padding: 20px;
    text-align: center;
}
.container{
    width: 1600px;
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
header .icon-cart{
    position: relative;
}


header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.listProduct .item img{
width: 90%;
filter: drop-shadow(0 37px 20px #000900);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.listProduct .item{
background-color: #7fffd4;
padding: 20px;
border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
letter-spacing: 2px;
font-size: small;
}
.listProduct .item button{
    background-color: rgb(255, 230, 0);
    color: black;
    padding: 5PX 10px;
    border-radius: 60px;
    margin-top:10px;
    border: none;
    cursor: pointer;
}
.cartTab{
    width: 400px;
    background-color: aquamarine;
    color:black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows:  70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translateX(-25px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color:  rgb(255, 230, 0);
    border: none;
    font-weight: 500;    
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: red;
}
.cartTab .listCart .item img{
    width: 100%;
}
.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 27px;
    height: 27px;
    background-color: #eee;
    color:black;
    border-radius: 50%;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: black;
}
.listCart .item:nth-child(even){
    background-color: #64c9a7;
}
.listcart{
    overflow: auto;
}