body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 3px;
    display: block;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul li a:hover::after {
    width: 100%;
}

main {
    padding: 2rem;
}

#welcome {
    background-color: aquamarine;
    padding: 2rem;
    text-align: center;
}
.slideshow-container {
    background-color: #69ecc5;
    position: relative;
    max-width: 300px;
    margin: auto;
}
.popGames{
    max-width: 400px;
    background-color: aquamarine;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}

.slides {
    display: none;
}


.slideFade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: .9}
}
#featured-products {
    max-width: 1900px;
    background-color: aquamarine;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}

#featured-products img {
    margin: 1rem;
    width: 90px;
    filter: drop-shadow(0 17px 20px #000900);
}
a{
    text-decoration: none;
    color: black;
}
.products123 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.featured-product1, .featured-product2, .featured-product3 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #69ecc5; 
    padding: 1rem;
    border-radius: 13%;
    width: 200px;
}

.price {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #333;
}

#maps{
    max-width: 900px;
    background-color: aquamarine;
    text-align: center;
    padding: 2rem;
    margin:auto
}
#map{
    max-width: 900px;
    background-color: aquamarine;
    text-align: center;
    padding: 2rem;
    margin:auto
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
